<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Amazon Fake Review | Details</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                       <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('productall') }}">All Products</a></li>
                    </ul>
                </div>
            
        </nav>
		        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Products Details</h1>
                </div>
            </div>
        </header>
        <!-- End Header-->
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://m.media-amazon.com/images/I/71yn-3NR3SL._SY741_.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h2 class="display-5 fw-bolder">Redmi Note 10 Pro (Dark Night, 6GB RAM, 128GB Storage) -120hz Super Amoled Display|64MPwith 5mp Super Tele-Macro | 33W Charger Included</h2>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">₹19,499.00</span>
                            <span>₹15,499.00</span>
                        </div>
						
                        <ul class="a-unordered-list a-vertical a-spacing-mini">   <li><span class="a-list-item"> Processor: Qualcomm Snapdragon 732G with Kryo 470 Octa-core; 8nm process; Up to 2.3GHz clock speed  </span></li> 
                             <li><span class="a-list-item"> Camera: 64 MP Quad Rear camera with 8MP Ultra-wide, 5MP Telemacro and Portrait lens| 16 MP Front camera  </span></li>  
                             <li><span class="a-list-item"> Display: 120Hz high refresh rate FHD+ (1080x2400) AMOLED Dot display; 16.9 centimeters (6.67 inch); 20:9 aspect ratio; HDR 10 support  </span></li> 
                              <li><span class="a-list-item"> Battery: 5020 mAH large battery with 33W fast charger in-box and Type-C connectivity  </span></li> 
                             <li><span class="a-list-item"> Memory, Storage &amp; SIM: 6GB RAM | 128GB UFS 2.2 storage expandable up to 512GB with dedicated SD card slot | Dual SIM (nano+nano) dual standby (4G+4G)  </span></li>  </ul>
						
                    </div>
                </div>
            </div>
        </section>
		
<hr>		
		
        <!-- Related items section-->
        <section class="container">
            <div class="col-md-12">
                <h2 class="fw-bolder mb-4">Customers Reviews</h2><hr>
                <div class="container">


<!--Start  review1-->
<div id="cm_cr-review_list" class="a-section a-spacing-none review-views celwidget" data-csa-c-id="ax3vlr-9yn50f-jbrfk3-dkml67" data-cel-widget="cm_cr-review_list">
<h3 data-hook="arp-local-reviews-header" class="a-spacing-medium">From India</h3>
<div id="R2237B8GHP4T8" data-hook="review" class="a-section review aok-relative">
<div id="R2237B8GHP4T8-review-card" class="a-row a-spacing-none">
<div id="customer_review-R2237B8GHP4T8" class="a-section celwidget" data-csa-c-id="sriaed-k1szib-shhral-yzdnj1" data-cel-widget="customer_review-R2237B8GHP4T8">

<div data-hook="genome-widget" class="a-row a-spacing-mini"><a href="#" class="a-profile" data-a-size="small">
<div aria-hidden="true" class="a-profile-avatar-wrapper"><div class="a-profile-avatar"><img src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png" class="" data-src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png">
<noscript>
<img src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"/>
</noscript>
</div>
</div>
<div class="a-profile-content">
<span class="a-profile-name">Amazon Customer</span>
</div>
</a>
</div>



<div class="a-row">

<a class="a-link-normal" title="5.0 out of 5 stars" href="#">
<i data-hook="review-star-rating" class="a-icon a-icon-star a-star-5 review-rating">
<span class="a-icon-alt">5.0 out of 5 stars</span>
</i>
</a>

<span class="a-letter-space"></span>
<a data-hook="review-title" class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" href="#">
<span>It's an Beast</span>  
</a>
</div>




<span data-hook="review-date" class="a-size-base a-color-secondary review-date">Reviewed in India on 8 January 2022</span>


<div class="a-row a-spacing-mini review-data review-format-strip">
<a data-hook="format-strip" class="a-size-mini a-link-normal a-color-secondary" href="#">Colour: Turquoise Cyan</a>
<i class="a-icon a-icon-text-separator" role="img" aria-label="|">
</i>
<span class="a-declarative" data-action="reviews:filter-action:push-state" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-reviews:filter-action:push-state" data-reviews:filter-action:push-state="{}" data-csa-c-id="trw8s-nxvsh-z2kkjl-u7w8w">
<a data-reftag="cm_cr_arp_d_rvw_rvwer" data-reviews-state-param="{&quot;pageNumber&quot;:&quot;1&quot;,&quot;reviewerType&quot;:&quot;avp_only_reviews&quot;}" class="a-link-normal" href="#">
<span data-hook="avp-badge" class="a-size-mini a-color-state a-text-bold">
Verified Purchase</span>
</a>
</span>
</div>



<div class="a-row a-spacing-small review-data col-md-12">
<p>This phone is really very good. Am OnePlus user. Never used anyother for past 5 years and waiting for OnePlus 10 pro launch. Unfortunately my mobiles display got broken.
 It cost 9.5k to change the display and if I exchange it while buying they may not take my old phone for 5k.
 So instead of changing the display I thought of buying an phone with in 10k. While searching, i saw Techno and the name is new to me. But this mobile configuration was awesome.
 What we are getting for this price is really worth a lot. Also it's an Indian brand. So booked it and now now am writing the review with it.
 It's really awesome. Processor, camera, OS, look everything is very good. 5000 mah battery for 10k is unbelievable. Charing is also very fast.
 Instead of 4 GB ram if they have given 6GB then it will be the beast. Looks very premium. But no worries, it's exceptional.
 Just go for it without any second thought, surely you will be happy with your purchase. Thankyou Amazon and Tecno.
 </p>
</div>



        <input type ="hidden" id = "review_text" class="form-control" id="exampleInputEmail1" value="This phone is really very good. Am OnePlus user. Never used anyother for past 5 years and waiting for OnePlus 10 pro launch. Unfortunately my mobiles display got broken.
        It cost 9.5k to change the display and if I exchange it while buying they may not take my old phone for 5k.
        So instead of changing the display I thought of buying an phone with in 10k. While searching, i saw Techno and the name is new to me. But this mobile configuration was awesome.
        What we are getting for this price is really worth a lot. Also it's an Indian brand. So booked it and now now am writing the review with it.
        It's really awesome. Processor, camera, OS, look everything is very good. 5000 mah battery for 10k is unbelievable. Charing is also very fast.
        Instead of 4 GB ram if they have given 6GB then it will be the beast. Looks very premium. But no worries, it's exceptional.
        Just go for it without any second thought, surely you will be happy with your purchase. Thankyou Amazon and Tecno.">
        <input type="hidden" id="rating" value="5">
        <input type="hidden" id="verified_purchase" value="Y">
        <input type="hidden" id="product_category" value="Electronics">



    <div class="form-group" style = "padding-left : 1%; padding-right : 1%">
        <a id="submit" class="btn btn-primary btn-lg" role="button" style = "color:white">Analyse Review</a>
    </div>


    <div class = "container">

    <div class="jumbotron">
      <div class="form-group">

        <h3><b>Result</b></h3>

        <img id="loader" src = "static/loader.gif" style = "width : 30px;height:30px">

        <p id = "result"></p>




      </div>

    </div>



</div>
<hr>



</br>



 
				  </div>
				   </div>
				    </div>
					 </div>
					 <!--end review1-->



<!--Start  review2-->
<div id="cm_cr-review_list" class="a-section a-spacing-none review-views celwidget" data-csa-c-id="ax3vlr-9yn50f-jbrfk3-dkml67" data-cel-widget="cm_cr-review_list">
    <h3 data-hook="arp-local-reviews-header" class="a-spacing-medium">From India</h3>
    <div id="R2237B8GHP4T8" data-hook="review" class="a-section review aok-relative">
    <div id="R2237B8GHP4T8-review-card" class="a-row a-spacing-none">
    <div id="customer_review-R2237B8GHP4T8" class="a-section celwidget" data-csa-c-id="sriaed-k1szib-shhral-yzdnj1" data-cel-widget="customer_review-R2237B8GHP4T8">
    
    <div data-hook="genome-widget" class="a-row a-spacing-mini"><a href="#" class="a-profile" data-a-size="small">
    <div aria-hidden="true" class="a-profile-avatar-wrapper"><div class="a-profile-avatar"><img src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png" class="" data-src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png">
    <noscript>
    <img src="https://images-eu.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"/>
    </noscript>
    </div>
    </div>
    <div class="a-profile-content">
    <span class="a-profile-name">Amazon Customer</span>
    </div>
    </a>
    </div>
    
    
    
    <div class="a-row">
    
    <a class="a-link-normal" title="1.0 out of 5 stars" href="#">
    <i data-hook="review-star-rating" class="a-icon a-icon-star a-star-5 review-rating">
    <span class="a-icon-alt">1.0 out of 5 stars</span>
    </i>
    </a>
    
    <span class="a-letter-space"></span>
    <a data-hook="review-title" class="a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold" href="#">
    <span>Charger Blast</span>  
    </a>
    </div>
    
    
    
    
    <span data-hook="review-date" class="a-size-base a-color-secondary review-date">Reviewed in India on 9 January 2022</span>
    
    
    <div class="a-row a-spacing-mini review-data review-format-strip">
    <a data-hook="format-strip" class="a-size-mini a-link-normal a-color-secondary" href="#">Colour: Turquoise Cyan</a>
    <i class="a-icon a-icon-text-separator" role="img" aria-label="|">
    </i>
    <span class="a-declarative" data-action="reviews:filter-action:push-state" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-reviews:filter-action:push-state" data-reviews:filter-action:push-state="{}" data-csa-c-id="trw8s-nxvsh-z2kkjl-u7w8w">
    <a data-reftag="cm_cr_arp_d_rvw_rvwer" data-reviews-state-param="{&quot;pageNumber&quot;:&quot;1&quot;,&quot;reviewerType&quot;:&quot;avp_only_reviews&quot;}" class="a-link-normal" href="#">
    <span data-hook="avp-badge" class="a-size-mini a-color-state a-text-bold">
    un-Verified Purchase</span>
    </a>
    </span>
    </div>
    
    
    
    <div class="a-row a-spacing-small review-data col-md-12">
    <p>Charger not working bad product.
     </p>
    </div>
    
    
    
            <input type ="hidden" id = "review_text1" class="form-control" id="exampleInputEmail1" value="Charger not working bad product.">
            <input type="hidden" id="rating1" value="5">
            <input type="hidden" id="verified_purchase1" value="Y">
            <input type="hidden" id="product_category1" value="Electronics">
    
    
    
        <div class="form-group" style = "padding-left : 1%; padding-right : 1%">
            <a id="submit1" class="btn btn-primary btn-lg" role="button" style = "color:white">Analyse Review</a>
        </div>
    
    
        <div class = "container">
    
        <div class="jumbotron">
          <div class="form-group">
    
            <h3><b>Result</b></h3>
    
            <img id="loader1" src = "static/loader.gif" style = "width : 30px;height:30px">
    
            <p id = "result1"></p>
    
          </div>
    
        </div>
    
    
    
    </div>
    <hr>
    
    
    
    </br>
    
    
    
     
                      </div>
                       </div>
                        </div>
                         </div>
                         <!--end review2-->







            </div>
			 </div>
        </section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
        <script>

            $("#result").hide();
            $("#loader").hide();
    
            $("#submit").click(function(){
                review_text = $("#review_text").val();
                rating = $("#rating").val();
                verified_purchase = $("#verified_purchase").val();
                product_category = $("#product_category").val();
    
                //alert(verified_purchase);
    
                $("#result").hide();
                $("#loader").show();
    
                var data = {};
    
                data["review_text"] = review_text;
                data["rating"] = rating;
                data["verified_purchase"] = verified_purchase;
                data["product_category"] = product_category;
    
                console.log(JSON.stringify(data));
    
                $.ajax({
                          type: 'POST',
                          url: '/api/bot',
                          dataType: 'json',
    
                          data: data,
                          success: function(callback) {
                              console.log(callback);
                              $("#result").show();
    
                              if(callback.result == 'F') {
                                $("#result").text("This is a Fake Review");
                              }
                              else {
                                $("#result").text("This is a True Review");
                              }
                              
                              $("#loader").hide();
                          },
                          error: function (jqXHR, exception) {
    
                            $("#result").hide();
    
                            var msg = '';
                            msg = jqXHR.responseText;
                            console.log(msg);
                            //alert(msg);
                            $("#loader").hide();
                        },
                      });
    
    
    
            });
    
    
    
    
        </script>
    
    <script>

        $("#result1").hide();
        $("#loader1").hide();

        $("#submit1").click(function(){
            review_text = $("#review_text1").val();
            rating = $("#rating1").val();
            verified_purchase = $("#verified_purchase1").val();
            product_category = $("#product_category1").val();

            //alert(verified_purchase);

            $("#result1").hide();
            $("#loader1").show();

            var data = {};

            data["review_text"] = review_text;
            data["rating"] = rating;
            data["verified_purchase"] = verified_purchase;
            data["product_category"] = product_category;

            console.log(JSON.stringify(data));

            $.ajax({
                      type: 'POST',
                      url: '/api/bot',
                      dataType: 'json',

                      data: data,
                      success: function(callback) {
                          console.log(callback);
                          $("#result1").show();

                          if(callback.result == 'F') {
                            $("#result1").text("This is a Fake Review");
                          }
                          else {
                            $("#result1").text("This is a True Review");
                          }
                          
                          $("#loader1").hide();
                      },
                      error: function (jqXHR, exception) {

                        $("#result1").hide();

                        var msg = '';
                        msg = jqXHR.responseText;
                        console.log(msg);
                        //alert(msg);
                        $("#loader1").hide();
                    },
                  });



        });




    </script>   
    </body>
</html>
